name: Packages Test

on:
  push:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: pnpm Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Coveralls
        run: pnpm run coverage

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Test
        run: pnpm run test
